* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

body {
  /* font-family: "Poppins", sans-serif; */
}
#first_section .section_wrapper {
  /*lave grid og splashbillede der kun fylder selve siden */
  display: grid;
  height: 100vh;
}

.section_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_wrapper h1,
.section_wrapper img {
  grid-area: 1 / 1; /* h1 og billede skal placeres ovenpå hinanden */
}

.section_wrapper h1 {
  z-index: 1;
  place-self: center; /*placere h1 ovenpå splashbillede, z-index betyder at h1 skal placeres ovenpå billede */
}

h1 {
  font-size: 300%;
  color: white;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 200%;
}

p {
  margin-bottom: 1rem;
  line-height: 150%;
}

#third_section {
  background-color: rgb(247, 245, 245);
  padding: 2rem;
}

#second_section {
  padding: 2rem;
}

@media (min-width: 900px) {
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem;
  }

  h1 {
    font-size: 500%;
    color: white;
  }

  .section_wrapper .box1 {
    margin-left: 5%;
  }

  #third_section .box_wide {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: -2rem;
  }

  .box_big {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
  }

  .box_big .box {
    order: 1;
    flex-basis: 700%;
  }

  .box_big .box2 {
    order: 2;
  }

  h2 {
    margin-top: -2%;
  }
}
