* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 3rem;
  color: white;
  font-family: poppins;
}

h2 {
  font-size: 2rem;
  font-family: poppins;
}

p {
  font-family: poppins;
}

body {
  font-family: "Poppins", sans-serif;
}

header ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
header ul li:first-child {
  margin-right: auto;
}

ul {
  display: flex;
  justify-content: start;
  /* gap: 180px; */
  list-style-type: none;
  align-items: center;
  padding: 2%;
}

a {
  color: white;
  text-decoration: none;
}

header {
  text-align: center;
  width: 100%;
  position: absolute;
}

@media (min-width: 700px) {
  footer {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 2%;
  }
}
