body {
  font-family: "Poppins", sans-serif;
}

header {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 100%;
  position: absolute;
}
ul {
  display: flex;
  justify-content: start;
  gap: 180px;
  list-style-type: none;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
